@model IReadOnlyCollection<ProductModel>

@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>

<div class="row mt-5 mb-2">
    @if(Model.Count == 0)
    {
        <p>Ничего не найдено</p>
    }
    else
    {
        foreach(var product in Model)
        {
            <div class="col-12 col-lg-4 col-sm-6">
                <div class="card-img-top">
                    <img src="@product.img" class="w-75 photoHeaderStyle ImageThumbnail" alt="@product.Title"/>
                </div>

                <h2>Имя: @product.Title</h2>
                 <p>Цена: @product.Price.ToString("c")</p>
                 <p><a class="btn btn-warning" href="@Url.Action("Index", "Product", new {id = product.Id})">Подробнее</a></p>
            </div>
        }
    }

    @*<div class="MyModal">
        <div class="modal-overlay">
            <div class="modal-window">
                <div class="modal-header">
                    <span class="modal-title">Modal title</span>
                    <span class="modal-close">x</span>
                </div>
                <div class="modal-body">
                    <p>
                        @Model.First().Manufacturer
                    </p>
                </div>
                <div class="modal-footer">
                    <button>Ok</button>
                    <button>Cancel</button>
                </div>
            </div>
        </div>
    </div>*@
</div>
