@model IReadOnlyCollection<ProductModel>

@{
    ViewData["Title"] = "Результаты поиска";
}

<h1>Результаты поиска</h1>

<div class="row mt-5 mb-2">
    @if(Model.Count == 0)
    {
        <p>Ничего не найдено</p>
    }
    else
    {
        foreach(var product in Model)
        {
            <div class="col-12 col-lg-4 col-sm-6">
                <div class="card-img-top">
                    <img src="@product.img" class="w-75 photoHeaderStyle ImageThumbnail" alt="@product.Title"/>
                </div>

                <h2>Имя: @product.Title</h2>
                <p>Цена: @product.Price.ToString("c")</p>

                <button type="button" onclick = "$.modal().open()">Подробнее</button>
                @*<p><a class="btn btn-warning" href="@Url.Action("Index", "Product", new {id = product.Id})">Подробнее</a></p>*@
            </div>
        }
    }

    <script src="~/js/search/base.js"></script>
     <script src="~/js/search/plugins/modal.js"></script>
    <script src="~/js/search/index.js"></script>
    <script src="~/js/Class.js"></script> 
</div>
