<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - сырный-магазин на С#</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Store.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" type="">Cырный-магазин на С#</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-area=""asp-controller="Home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search" action="@Url.Action("Index", "Search")" method="get">
              <input class="form-control mr-sm-2"  type="search" name="query" placeholder="автор или название" />
              <button class="btn btn-outline-success" type="submit">Искать</button>
            </form>
            <span class="navbar-text ml-auto">
            @{
                if (Context.Session.TryGetCart(out Cart cart) && cart.TotalCount > 0)
                {
                    <a href="@Url.Action("Index", "Order")">Товаров @cart.TotalCount на сумму @cart.TotalPrice</a>
                }
                else
                {
                    @:Корзина пуста
                }
            }
            </span>
          </div>
        </div>
      </nav>
    </header>


    <div class="container" mt-5>
        <main>
            @RenderBody()
        </main>
    </div>
    <p>© 2017–2022 CheesCompany, Podoksha. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
