@using Store.Web.Controllers
@model Form
@{
    ViewData["Title"] = "Параметры доставки";
}

<h1>Параметры доставки</h1>
<form action="@Url.Action(nameof(OrderController.NextDelivery)) method="post">
    <input type="hidden" name="id" value="@Model.OrderId" />
    <input type="hidden" name="uniqueCode" value="@Model.UniqueCode" />
    <input type="hidden" name="step" value="@Model.Step" />
    @foreach(var filed in Model.Fields)
    {
        if(filed is HiddenField hiddenField)
        {
            <input type="hidden" name="values"[@field.Name] value="@filed.Value" />
        }
        else if(filed is SelectionField selectionField)
        {
            <div class="form-group">
                <label for="values[@filed.Name]">@filed.Label</label>

                <select class="form-control" name="values[@filed.Name]">
                    @foreach(var item in selectionField.Items)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
            </div>
        }
        @*else if(filed is LineField lineField)
        {
            <div class="form-group">
                <label for="values[@filed.Name]">@filed.Label</label>
                <input type="text" class="form-control" name="values[@filed.Name]"
            </div>
        }*@
    }
    <button type="submit" class="btn-success">Далее</button>
</form>
